<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/Crypto.PNG" alt="CryptoStonks">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">INFO CRYPTO :</h2>
    <a mat-list-item routerLink="/General" routerLinkActive="list-item-active">
        <mat-icon>Wiki</mat-icon>general
    </a>
    <a mat-list-item routerLink="/Favoris" routerLinkActive="list-item-active">
        <mat-icon>Wiki</mat-icon>Favoris
    </a>
    <a mat-list-item routerLink="/testAPI" routerLinkActive="list-item-active">
        <mat-icon>Wiki</mat-icon>testAPI
    </a>
    <h2 matSubheader class="mt-2">GAMEPARTIE :</h2>
    <a mat-list-item routerLink="/Accueil" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Top Traders
    </a>
    <a mat-list-item routerLink="/Dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Profil Utilisateur
    </a>
    <a mat-list-item routerLink="/Forum" routerLinkActive="list-item-active">
        <mat-icon>Wiki</mat-icon>Forum / Informations
    </a>
</mat-nav-list>