.YoutubeChannel{
    border: 1px solid black;
    height: 500px;
    overflow-y: auto;
    background-color: #3d3d3d;
}

.channelVideoImg{
    grid-column: 1;
    width: 100%;
}
.videoList{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 10px;
    background-color: #5d5d5d;
}
.videoList:hover{
    cursor: pointer;
    background-color: #6d6d6d;
}
.channelVideoDesc{
    grid-column: 2;
    color : white;
    text-align: left;   
}
.youtubeTitle{
    color: white;
}