<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <!-- colonne position -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- colonne nom -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- colonne argent -->
    <ng-container matColumnDef="argent">
      <th mat-header-cell *matHeaderCellDef> Argent </th>
      <td mat-cell *matCellDef="let element"> {{element.argent}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  