<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <div class="row mr-2 ml-auto">
            <ul>
                <li *ngIf="!connected">
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        <img src="../../assets/user.png" alt="" class="user-image mr-1 p-2">
                        Non connecté
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" >

                        <a href="Log?&Log=0"><button mat-menu-item ><mat-icon>add</mat-icon>S'inscrire</button></a>
                        <a href="Log?&Log=1"><button mat-menu-item ><mat-icon>account_circle</mat-icon>Connexion</button></a>

                    </mat-menu>
                </li>
                <li *ngIf="connected">
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        <img src="../../assets/user.png" alt="" class="user-image mr-1 p-2">
                        {{ userData["username"] }}
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" >
                        <a href="/Dashboard"><button mat-menu-item ><mat-icon>perm_identity</mat-icon>Profil</button></a>
                        <a (click)="deconnexion()"><button mat-menu-item><mat-icon>exit_to_app</mat-icon>Deconnexion</button></a>
                    </mat-menu>
                </li>

            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>