//dim
.w5{
    width: 5%;
  }
  .w7{
    width: 7%;
  }
  .w10{
      width: 10%;
    }
    .w13{
      width: 13%;
    }
    .w15{
    width: 15%;
    }
  .w20{
    width: 20%;
  }
  .w27{
    width: 27%;
  }
  .w30{
    width: 30%;
  }
  .w35{
    width: 35%;
  }
  .w40{
    width: 40%;
  }
  .wr50{
    width: 50%;
  }
  .w55{
    width: 55%;
  }
  .w57{
    width: 57%;
  }
  .w59{
    width: 59%;
  }
  .w60{
    width: 60%;
  }
  .w65{
    width: 65%;
    margin: auto;
  }
  .w68{
    width: 68%;
    margin: auto;
  }
  .w70{
    width: 70%;
  }
  .w72{
    width: 72%;
  }
  .w75{
    width: 75%;
    margin: auto;
  }
  .w88{
    width: 88%;
    margin: auto;
  }
  .w95{
    width: 95%;
    margin: auto;
  }
  .w100{
    width: 100%;
    .droite{
      text-align: right;
      width: unset;
      margin-right: 15px;
    }
    input{
      width: 10%;
    }
  }
  .wr40{
    width: 40%;
    text-align: right;
    input,textarea{
      width: 100%;
      overflow:auto;
    }
  }
  